{% extends "web/base.html" %}
{% load static %}
{% block content %}

   
	<!-- Page Header End -->

	<!-- Contact Information Section Start -->
	<div class="contact-information">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<!-- Contact Item Start -->
                    <div class="contact-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="contact-content">
                            <div class="contact-content-title">
                                <h2>address</h2>
                                <a href="#"><img src="{% static "images/icon-location.svg" %}" alt=""></a>
                            </div>
                            <p>Rajiv Gandhi Bypass, Manjeri,</p>  
                            <p>	Kerala,Shuwaikh, Kuwait City, Kuwait  </p>  

						                        
                        </div>
						<div class="contact-image">
							<figure class="image-anime">
								<img src="{% static "images/contact-info-1.jpg" %}" alt="">
							</figure>
						</div>
                    </div>
                    <!-- Contact Item End -->
				</div>

				<div class="col-md-4">
					<!-- Contact Item Start -->
                    <div class="contact-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="contact-content">
                            <div class="contact-content-title">
                                <h2>call now</h2>
                                <a href="#"><img src="{% static "images/icon-phone.svg" %}" alt=""></a>
                            </div>
                            <p>+91 90748 51748
							</p>                           
							<p>+965 41440938
							</p>
                        </div>
						<div class="contact-image">
							<figure class="image-anime">
								<img src="{% static "images/contact-info-2.jpg" %}" alt="">
							</figure>
						</div>
                    </div>
                    <!-- Contact Item End -->
				</div>

				<div class="col-md-4">
					<!-- Contact Item Start -->
                    <div class="contact-item wow fadeInUp" data-wow-delay="0.75s">
                        <div class="contact-content">
                            <div class="contact-content-title">
                                <h2>email us</h2>
                                <a href="#"><img src="{% static "images/icon-mail.svg" %}" alt=""></a>
                            </div>
                            <p>info@brandbik.com</p>
							<p>hr@brandbik.com</p>                            
                        </div>
						<div class="contact-image">
							<figure class="image-anime">
								<img src="{% static "images/contact-info-3.jpg" %}" alt="">
							</figure>
						</div>
                    </div>
                    <!-- Contact Item End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Information Section End -->

	<!-- Contact Us Section Start -->
    <div class="contact-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
					<!-- Contact Details Section Start -->
                    <div class="contact-details">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">contact us</h3>
                            <h2 class="text-anime-style-3">Get in touch with us today</h2>
                        </div>
                        <!-- Section Title End -->

						<!-- Contact Details Body Start -->
						<div class="contact-detail-body">
							<p class="wow fadeInUp" data-wow-delay="0.25s">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium, totam rem aperiam, eaque ipsa quae ab illo inventore et.</p>
							<h3 class="wow fadeInUp" data-wow-delay="0.5s">follow us:</h3>
							<ul class="wow fadeInUp" data-wow-delay="0.75s">
								<li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="https://www.instagram.com/brandbik_creatives?igsh=MWo0Nm9vZzRuZzJhdA==
									"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/brandbik-creatives/
									"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="https://x.com/brandbik?t=TgQKNPUWVKHGhGHD-yaAdg&s=08"><i class="fa-brands fa-twitter"></i></a></li>
							</ul>
						</div>
						<!-- Contact Details Body End -->
                    </div>
					<!-- Contact Details Section End -->
                </div>

                <div class="col-lg-6">
                    <div class="contact-form-box wow fadeInUp" data-wow-delay="0.5s">
						<!-- Contact Form Start -->
						<div class="contact-form">
							<form id="contactForm" action="#" method="POST" data-toggle="validator">
								<div class="row">
									<div class="form-group col-md-6 mb-4">
										<input type="text" name="fname" class="form-control" id="fname" placeholder="first name" required >
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-6 mb-4">
										<input type="text" name="lname" class="form-control" id="lname" placeholder="last name" required >
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-6 mb-4">
										<input type="text" name="phone" class="form-control" id="phone" placeholder="Phone" required >
										<div class="help-block with-errors"></div>
									</div>

                                    <div class="form-group col-md-6 mb-4">
										<input type="email" name ="email" class="form-control" id="email" placeholder="email" required >
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-12 mb-4">
										<input type="text" name="subject" class="form-control" id="subject" placeholder="subjects" required >
										<div class="help-block with-errors"></div>
									</div>

									<div class="form-group col-md-12 mb-4">
										<textarea name="msg" class="form-control" id="msg" rows="7" placeholder="message" required></textarea>
										<div class="help-block with-errors"></div>
									</div>

									<div class="col-md-12">
										<button type="submit" class="btn-default">send a message</button>
										<div id="msgSubmit" class="h3 text-left hidden"></div>
									</div>
								</div>
							</form>
						</div>
						<!-- Contact Form End -->
					</div>
                </div>
            </div>
        </div>
    </div>
	<!-- Contact Us Section End -->
	
	<!-- Google Map Section Start -->
	<div class="google-map wow fadeInUp" data-wow-delay="0.25s">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3466.2901678208614!2d76.11220757445597!3d11.123140789047431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba64798b70c59cb%3A0xd1b64feee68f5a25!2sBrandbik%20Creatives!5e1!3m2!1sen!2sin!4v1724132637187!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
	</div>
	<!-- Google Map Section End -->

	

</html>

{% endblock %}