{% load static %}
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Mega Footer Start -->
                <div class="mega-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <!-- Footer About Start -->
                            <div class="footer-about">
                                <figure>
                                    <img src="{% static "images/branbik logo 1.png" %}" alt="">
                                </figure>
                                <p>Digital Transformation Agency</p>
                                <ul>
                                    <li><a href="info@brandbik.com">info@brandbik.com</a></li>
                                    <li><a href="+965 41440938">+965 41440938
                                    </a></li>
                                    <li><a href="90748 51748
                                        ">+91 90748 51748

                                    </a></li>
                                </ul>
                            </div>
                            <!-- Footer About End -->
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>pages</h2>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    
                                    <li><a href="#contact-us.html">Contact Us</a></li>
                                </ul>
                            </div>
                            <!-- Footer Links End -->
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>Socials</h2>
                                <ul>
                                    <li><a href="https://www.instagram.com/brandbik_creatives?igsh=MWo0Nm9vZzRuZzJhdA==
                                        ">instagram</a></li>
                                    <li><a href="#">facebook</a></li>
                                    <li><a href="https://x.com/brandbik?t=TgQKNPUWVKHGhGHD-yaAdg&s=08">twitter</a></li>
                                    <li><a href="https://www.linkedin.com/company/brandbik-creatives/
                                        ">linkedin</a></li>
                                </ul>
                            </div>
                            <!-- Footer Links End -->
                        </div>

                        <div class="col-lg-2 col-md-4">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>services</h2>
                                <ul>
                                    <li><a href="#">Web development</a></li>
                                    <li><a href="#">Digital Marketing</a></li>
                                    <li><a href="#">Branding</a></li>
                                    <li><a href="#">
                                    </a>Digital Transformation
                                </li>
                                    <li><a href="#">Advertising</a></li>
                                </ul>
                            </div>
                            <!-- Footer Links End -->
                        </div>
                    </div>
                </div>
                <!-- Mega Footer End -->

                <!-- Copyright Footer Start -->
                <div class="footer-copyright">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <!-- Footer Copyright Content Start -->
                            <div class="footer-copyright-text">
                                <p>Copyright © 2024 Brandbik All rights reserved.</p>
                            </div>
                            <!-- Footer Copyright Content End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Footer Policy Links Start -->
                            <div class="footer-policy-links">
                                <ul>
                                    <li><a href="#">privacy policy</a></li>
                                    <li><a href="#">terms of service</a></li>
                                    <li class="highlighted"><a href="#top">go to top</a></li>
                                </ul>
                            </div>
                            <!-- Footer Policy Links End -->
                        </div>
                    </div>						
                </div>
                <!-- Copyright Footer End -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->