
{% load static %}<!-- Magic Cursor Start -->
<div id="magic-cursor">
    <div id="ball"></div>
</div>
<!-- Magic Cursor End -->
<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="{% static "images/branbik logo 2.png" %}" alt=""></div>
    </div>
</div>
<!-- Header Start -->


<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="{% url "index" %}">
                    <img src="{% static "images/branbik logo re.png" %}" alt="Logo">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item "><a class="nav-link" href="{% url "index" %}">home</a>

                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url "about" %}">about us</a></li>


                            <li class="nav-item"><a class="nav-link" href="{% url "portfolio" %}">portfolio</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url "blog" %}">Blog</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url "service" %}">Service</a></li>

                            <li class="nav-item"><a class="nav-link" href="{% url "contact" %}">contacts</a></li>

                            <!-- <ul>                                        
                                    <li class="nav-item"><a class="nav-link" href="service-single.html">service details</a></li>
                                    <li class="nav-item"><a class="nav-link" href="portfolio-single.html">portfolio details </a></li>

                                    <li class="nav-item"><a class="nav-link" href="faqs.html">FAQ</a></li>
                                    <li class="nav-item"><a class="nav-link" href="404.html">404</a></li>
                                </ul> -->
                            </li>
                            <!-- <li class="nav-item highlighted-menu"><a class="nav-link" href="contact-us.html">free consultation</a></li>                                -->
                        </ul>
                    </div>
                    <!-- Let’s Start Button Start -->
                    <div class="header-btn d-inline-flex">
                        <a href="https://api.whatsapp.com/send?phone= 90748 51748
                        &text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="btn-default">Connect with us</a>
                    </div>
                    <!-- Let’s Start Button End -->
                </div>
                <!-- Main Menu End -->

                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->